# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
.venv/
ENV/
env/

# IDE / Editor
.vscode/
.idea/

# Logs & databases
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Python virtualenv
pip-wheel-metadata/

# Pytest / Coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Node (if frontend with React/JS)
node_modules/
dist/
build/
